.container-top {
  width: 1280px;

  height: 664px;

  margin-left: auto;

  margin-right: auto;

  background: #ffb8ca;

  display: flex;
}
#menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.home {
  text-decoration: none;
  position: absolute;
  width: 46px;
  height: 21px;
  left: 343px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.us {
  text-decoration: none;
  position: absolute;
  width: 70px;
  height: 21px;
  left: 424px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.made {
  text-decoration: none;
  position: absolute;
  width: 117px;
  height: 21px;
  left: 529px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.products {
  text-decoration: none;
  position: absolute;
  width: 104px;
  height: 21px;
  left: 681px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.contact {
  text-decoration: none;
  position: absolute;
  width: 64px;
  height: 21px;
  left: 820px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
